<a href="https://colab.research.google.com/github/Balaji4397/8-puzzle-Solver/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=1818aa628450af494675acd6cb4d533c54aa5854d91944f3728161923a6d18bb
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [30]:
import pyspark
from pyspark.sql import SparkSession,functions as f
from pyspark.sql.types import *
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql import Window

In [31]:
sc = SparkSession.Builder().appName('sample').master('local[5]').getOrCreate()
data = [
    (1, "Gilbert Gathara", "24", "Nairobi"),
    (2, "Someone Else", "32", "Nowhere")
]
headers = ("id", "Name", "Age", "Location")
df = sc.createDataFrame(data, headers)
df.show()
df=df.drop('Location')
df.show()
data2 = [[3,'Balaji',27],[4,'srikar',31]]
df2=sc.createDataFrame(data2, ["id", "Name", "Age"])
df2.show()
df = df.union(df2)
df.show()
location=['USA','Europe','India','India']
loc_df = sc.createDataFrame([(l,) for l in location], ['location'])
loc_df.show()
a = df.withColumn("x", row_number().over(Window.orderBy(monotonically_increasing_id())))
b = loc_df.withColumn("x", row_number().over(Window.orderBy(monotonically_increasing_id())))

final_df = a.join(b, a.x == b.x).drop("x")
final_df.show()

+---+---------------+---+--------+
| id|           Name|Age|Location|
+---+---------------+---+--------+
|  1|Gilbert Gathara| 24| Nairobi|
|  2|   Someone Else| 32| Nowhere|
+---+---------------+---+--------+

+---+---------------+---+
| id|           Name|Age|
+---+---------------+---+
|  1|Gilbert Gathara| 24|
|  2|   Someone Else| 32|
+---+---------------+---+

+---+------+---+
| id|  Name|Age|
+---+------+---+
|  3|Balaji| 27|
|  4|srikar| 31|
+---+------+---+

+---+---------------+---+
| id|           Name|Age|
+---+---------------+---+
|  1|Gilbert Gathara| 24|
|  2|   Someone Else| 32|
|  3|         Balaji| 27|
|  4|         srikar| 31|
+---+---------------+---+

+--------+
|location|
+--------+
|     USA|
|  Europe|
|   India|
|   India|
+--------+

+---+---------------+---+--------+
| id|           Name|Age|location|
+---+---------------+---+--------+
|  1|Gilbert Gathara| 24|     USA|
|  2|   Someone Else| 32|  Europe|
|  3|         Balaji| 27|   India|
|  4|         srikar| 31|   India|
+---+---------------+---+--------+

In [32]:
import pyspark
from pyspark.sql import *
from pyspark.sql.types import *
sc=SparkSession.Builder().appName('emptydataframe').getOrCreate()
schema = StructType([
    StructField('S.no',IntegerType(),True),
    StructField('Name',StringType(),True),
    StructField('Age', IntegerType(),True)
])
df = sc.createDataFrame([],schema)
df.show()
data = [(1,'balaji',26),(2,'srikar',31),(3,'sam',39)]
headers = ('S.no','Name','Age')
join_df = sc.createDataFrame(data, headers)
df = df.union(join_df)
df.show()
location=['lafayette','BR','BR']
loc_df = sc.createDataFrame([(l,) for l in location],['location'])
loc_df.show()
df = df.withColumn('x',row_number().over(Window.orderBy(monotonically_increasing_id())))
loc_df = loc_df.withColumn('x',row_number().over(Window.orderBy(monotonically_increasing_id())))
df = df.join(loc_df, df.x == loc_df.x).drop('x')
df.show()

+----+----+---+
|S.no|Name|Age|
+----+----+---+
+----+----+---+

+----+------+---+
|S.no|  Name|Age|
+----+------+---+
|   1|balaji| 26|
|   2|srikar| 31|
|   3|   sam| 39|
+----+------+---+

+---------+
| location|
+---------+
|lafayette|
|       BR|
|       BR|
+---------+

+----+------+---+---------+
|S.no|  Name|Age| location|
+----+------+---+---------+
|   1|balaji| 26|lafayette|
|   2|srikar| 31|       BR|
|   3|   sam| 39|       BR|
+----+------+---+---------+

In [33]:
import pyspark
from pyspark.sql import *
from pyspark.sql.types import *

sc= SparkSession.Builder().appName('Sample').master('local[5]').getOrCreate()
schema = StructType([
    StructField('ID', IntegerType(),True),
    StructField('Name', StringType(),True),
    StructField('Age', IntegerType(),True)
])
emptydf = sc.createDataFrame([],schema)
data = [(1,'balaji',26),(2,'srikar',31),(3,'sam',39)]
headers = ('ID','Name','Age')
df=sc.createDataFrame(data, headers)
df.show()
df.printSchema()
df = df.withColumn("ID", df["ID"].cast(IntegerType()))
df.printSchema()
location=['CA','LA','LA']
loc_df=sc.createDataFrame([(l,) for l in location],['location'])
loc_df.show()
df = df.withColumn('x',row_number().over(Window.orderBy(monotonically_increasing_id())))
loc_df = loc_df.withColumn('x',row_number().over(Window.orderBy(monotonically_increasing_id())))
df = df.join(loc_df, df.x==loc_df.x).drop('x')
df.show()
df=df.withColumnRenamed('location','state')
df.show()
df2=sc.createDataFrame([[4,'ranga','31','YV']])
df = df.union(df2)
df.show()

+---+------+---+
| ID|  Name|Age|
+---+------+---+
|  1|balaji| 26|
|  2|srikar| 31|
|  3|   sam| 39|
+---+------+---+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

+--------+
|location|
+--------+
|      CA|
|      LA|
|      LA|
+--------+

+---+------+---+--------+
| ID|  Name|Age|location|
+---+------+---+--------+
|  1|balaji| 26|      CA|
|  2|srikar| 31|      LA|
|  3|   sam| 39|      LA|
+---+------+---+--------+

+---+------+---+-----+
| ID|  Name|Age|state|
+---+------+---+-----+
|  1|balaji| 26|   CA|
|  2|srikar| 31|   LA|
|  3|   sam| 39|   LA|
+---+------+---+-----+

+---+------+---+-----+
| ID|  Name|Age|state|
+---+------+---+-----+
|  1|balaji| 26|   CA|
|  2|srikar| 31|   LA|
|  3|   sam| 39|   LA|
|  4| ranga| 31|   YV|
+---+------+---+-----+

In [29]:
import pyspark
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

sc = SparkSession.Builder().appName('sample').master('local[5]').getOrCreate()
data = [(1,'balaji',26,'Lafayette'),(2,'srikar',31,'BR'),(3,'sam',39,'BR')]
headers = ('ID','Name','Age')
schema = StructType([
    StructField('ID',IntegerType(),True),
    StructField('Name',StringType(),True),
    StructField('Age',StringType(),True),
    StructField('Location',StringType(),True)
])
final_df = sc.createDataFrame(data, schema = schema)
final_df.show()
company_lst = ['CGI','Apple','Bayleaf']
comp_df = sc.createDataFrame([(l,) for l in company_lst],['Company'])
a = final_df.withColumn('x', row_number().over(Window.orderBy(monotonically_increasing_id())))
b = comp_df.withColumn('x', row_number().over(Window.orderBy(monotonically_increasing_id())))
df = a.join(b, a.x == b.x).drop('x')
df.show()
data2 = [[4,'Ranga',32,'YV','Non-IT']]
data2_df = sc.createDataFrame(data2,schema=df.schema)
data2_df.show()
df = df.union(data2_df)
df.show()
df = df.withColumnRenamed('Location','Address')
df.show()

+---+------+---+---------+
| ID|  Name|Age| Location|
+---+------+---+---------+
|  1|balaji| 26|Lafayette|
|  2|srikar| 31|       BR|
|  3|   sam| 39|       BR|
+---+------+---+---------+

+---+------+---+---------+-------+
| ID|  Name|Age| Location|Company|
+---+------+---+---------+-------+
|  1|balaji| 26|Lafayette|    CGI|
|  2|srikar| 31|       BR|  Apple|
|  3|   sam| 39|       BR|Bayleaf|
+---+------+---+---------+-------+

+---+-----+---+--------+-------+
| ID| Name|Age|Location|Company|
+---+-----+---+--------+-------+
|  4|Ranga| 32|      YV| Non-IT|
+---+-----+---+--------+-------+

+---+------+---+---------+-------+
| ID|  Name|Age| Location|Company|
+---+------+---+---------+-------+
|  1|balaji| 26|Lafayette|    CGI|
|  2|srikar| 31|       BR|  Apple|
|  3|   sam| 39|       BR|Bayleaf|
|  4| Ranga| 32|       YV| Non-IT|
+---+------+---+---------+-------+

+---+------+---+---------+-------+
| ID|  Name|Age|  Address|Company|
+---+------+---+---------+-------+
|  1|balaji| 26|Lafayette|    CGI|
|  2|srikar| 31|       BR|  Apple|
|  3|   sam| 39|       BR|Bayleaf|
|  4| Ranga| 32|       YV| Non-IT|
+---+------+---+---------+-------+